{% block footer %}

{% endblock %}
</body>
 <footer class="page-footer font-small bg-primary pt-4">
        <div class="container-fluid text-center blue text-md-left">
          <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
              <!-- Content -->
              <h3 style="color: white;">CuriFolder</h3>
              <p class="lead" style="color: white;">Nos encontramos a nivel nacional territorio Colombiano, ofreciendo almacenamiento de datos personales</p>
              <p style="color: white;">Sena Pedregal, Medellín, Antioquia</p>   
              <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.716385745309!2d-75.57092518517804!3d6.300947927458416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442f25d6670d4d%3A0x8043999e5e767b96!2sSENA%20-%20Centro%20de%20Tecnolog%C3%ADa%20de%20la%20Manufactura%20Avanzada!5e0!3m2!1ses!2sco!4v1570754942399!5m2!1ses!2sco" width="400" height="100" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
              <p class="lead" style="color: white;">¿Quienes somos?</p>
              <ul class="list-unstyled">
                <li>
                  <a style="color: white;">Somos un equipo de aprendices del sena</a>
                  <small ><a  style="color: white;" href="nosotros.html" >¿Quieres saber mas de nosotros?</a></small>
                  <form action="" method="POST">
                    <small>Contactanos</small>                      
                <div class="inputWithIcon inputIconBg">
                    <input type="email" placeholder="Ingrese tu Email">
                    <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
                  </div>
                  <div class="inputWithIcon inputIconBg">
                      <input type="text" placeholder="Ingrese tu nombre">
                      <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                    </div>
                    <div class="inputWithIcon inputIconBg">
                    <textarea  name="comentarios" rows="3" cols="35" class="md-textarea form-control" placeholder="Escribe tu comentario"></textarea>
                  </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright text-center py-1 blue" style="color: white;">© 2019 Derechos Autorizados por el SENA
        </div>
      </footer>
      </html>   
